@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	color: #333;}
*{box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;}

#coming-soon > img{
height: 100vh;
width: 100%;}
/*.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
background: rgba(51, 51, 51, 0.82);}
*/
#coming-soon after{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%
	height:100%;
	z-index: 0;
	background: rgba(51, 51, 51, 0.82);}
.Coming-soon{
	position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    color: #fff;
    width: 450px;
    text-align: center;
    transform:translate(-50% ,-50%);
}
.Coming-soon img{
	margin: 0 auto;

}
.Coming-soon h1{ color:inherit;
	text-transform: uppercase;
	font-size: 50px;
    letter-spacing: 3px;
    margin: 5px 0;
    font-weight: bolder;}
.Coming-soon p{    
	color:#999;
	font-size: 20px;
	margin: 5px 0;}
.Coming-soon a{
	color: #fff;
	background: hsla(174, 54%, 40%, 0.8);
    margin: 10px;
    padding: 8px 25px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    transition: all 0.40s ease;
    -webkit-transition: all 0.40s ease;
    -moz-transition: all 0.40s ease;
   
}
.Coming-soon a:hover{
	color: hsla(174, 54%, 40%, 0.8);
	background:#fff;

}
.menu{

}
.nav{

}
.nav li {

}
.nav li a{

}
.nav li a i{

}
.social{

}
.social li{
    
}
.social li a{
    
}
.social li a i{
    
}